body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 3em;
  text-align: center;
  padding: 20px;
}

.create-expense-button {
  margin: 15px;
  padding: 5px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.expense-table {
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
}

.delete-button {
  font-size: 10px;
}